/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  padding: inline;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
a{
  text-decoration: none;
}

.button {
  border: none;
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: fit-content;
  border: 2px solid black;
  position: relative;
}

.header-container {
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.header-nav{
  align-items: flex-start;

}

.nav-list{
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 29rem;
  height: 100vh;
  border:1px solid gray;
  position: absolute;
  top: 0;
  right: 0;
}

.ham-icon {
  background-color: transparent;
}

.nav-list ul{
  flex-direction: column;
  align-items: flex-start;
}

.nav-list li, .sign-up-btn{
  width: 100%;
  list-style: none;
  padding: 1rem 2rem;
  border-bottom:1px solid gray ;
}

.header-nav-li {
  cursor: pointer;
}

.sign-up-btn{
  background: black;
  display: inline-block;
}

.nav-list a{
  color: gray;
}

.close {
  background-color: black;
  border: none;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 1rem;
  padding-inline: 1rem;
}

.hidden{
  display: none;
}


/******************************************
/* ADDITIONAL STYLES

/*******************************************/

.button:hover, a:hover {
  color: rgb(192, 192, 192);
}