/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
a{
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

.flex{
  display: flex;
  justify-content: center;
  align-items: center;

}



.header-container{
  padding: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid ;
}

.navbar{
  align-items: flex-start;
}

.nav-list{
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 29rem;
  height: 100vh;
  border:1px solid gray ;
}



.nav-list ul{
  flex-direction: column;
  align-items: flex-start;
}

.nav-list li, .sign-up-btn{
  width: 100%;
  list-style: none;
  padding: 1rem 2rem;
  border-bottom:1px solid gray ;
}

.sign-up-btn{
  background: black;
  color: white;
  display: inline-block;

}

.nav-list li a{
  color: gray;
  
}
.hidden{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES

/*******************************************/

